#title{ background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  display: flex;
  gap: 300px;
  justify-content: center;
  align-items: center;
}
.titles{text-align: start; margin-top: 30px; }


.phone{margin-top: 100px;}
.top{margin: 20px;}
.button{width: 10rem; height: 3rem;}

#features{display: flex;
  gap: 30px;
  justify-content: center;
  padding-bottom: 100px;
}

.feature{height: 100px; width: 400px; text-align: start;
  margin-top: 100px;
}
.dog{ height: 150px; width: 150px; border-radius: 100%;}
#testimonial{text-align: center; background-color: beige; padding-bottom: 60px;}
#testimonial > p {font-size: 2rem; padding: 0 100px 0 100px;}
.pricing-text > h2 {font-weight: 700; font-size: 2.5rem; padding-top: 60px;}
.pricing-text > p {padding-bottom: 30px;}

  

.titles > p{font-weight: bold;  line-height: 1;
  font-size: 3.5rem ;
  font-weight: 800;
  width: 30rem; }

.pricing-text{text-align: center;}


#footer{ background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  
}







@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.profile-img {
  height: 100px;
  border-radius: 50%;
}


@media (max-width: 800px) {
  #title{ background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .phone{margin-top: 10px;}
  #features{display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  .feature{height: 10px; width: 400px; text-align: start;
    
  }
  #testimonial{ margin-top: 100px;}
  .titles > p{font-weight: bold;  line-height: 1;
    font-size: 2rem ;
    font-weight: 800;
    width: 20rem; 
  }
   
  .pricing-text > h2 {font-weight: 700; font-size: 2rem; padding-top: 60px;}
 

  

  
}